.container {
  padding: 30px;
  background-color: var(--color-white);
  width: 520px;
  border-radius: 30px;
}

.cardContent {
  padding: 0 18px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.cardText {
  color: var(--color-text-gray-second);
  font-size: 20;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray);
  padding: 12px 16px 12px 18px;
  border-radius: 20px;
}

.btnText {
  font-weight: 700;
  font-size: 18px;
}

.header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
}

@media screen and (width < 450px) {
  .container {
    max-width: 360px;
    padding: 19px;
  }

  .image {
    width: 35px;
    height: 35px;
  }

  .header {
    font-size: 16px;
    font-weight: 700;
  }

  .cardText {
    font-size: 16px;
  }

  .btnText {
    font-size: 14px;
  }

  .btn>img {
    width: 16px;
    height: 16px;
    align-self: center;
  }
}