.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--color-black-2);
    border-radius: 30px;
    padding: 30px;
}

.title {
    font-weight: 500;
    font-size: 28px;
}

.portfolio {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--color-black-10);
}

.portfolio:last-of-type {
    padding-bottom: 0;
    border-bottom: none;
}

.portfolioName {
    font-weight: 700;
    font-size: 18px;
    color: var(--color-blue-primary);
}

.portfolioDescription {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black-60);
}

.portfolioImages {
    display: flex;
    flex-direction: row;
    gap: 16px;
    overflow-x: scroll;
}

.portfolioImage {
    object-fit: cover;
    width: 170px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.showMore {
    color: var(--color-blue-primary);
    text-decoration: underline;
}

.showMore:hover {
    cursor: pointer;
}