.links{
  color: #0084FF;
  text-decoration: underline;
} 

.infoText {
  color: var(--color-black-60);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  max-width: 614px;
  margin-left: 15px;
}

.checkBase {
  display: block;
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 20px;
  border-top: 1px solid var(--color-black-10);
  width: 100%;
}

.checkBase[data-selected] > .checkWrapper {
  background-color: var(--color-light-gray);
}

.checkIcon {
  width: 80%;
  height: 80%;
}

.checkIcon > polyline {
  stroke: var(--color-blue-primary);
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-black-10);
  transition: background-color 0.3s ease;
  border-radius: 6px;
  background-color: transparent;
}

.innerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.input {
  outline: none;
  margin: 14px 15px;
  width: 100%;
}

.base {
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 23px;
  border-radius: 10px;
  width: 614px;
  flex-direction: column;
}

.label {
  position: absolute;
  top: -28px;
  left: 15px;
  color: var(--color-black-60);
  font-size: 15px;
  font-weight: 500;
}

.errorMessage {
  color: #f90a0a;
  font-size: 10px;
  position: absolute;
  left: 15px;
  line-height: 22px;
}

.helperWrapper {
  display: block;
}

.base[data-invalid] {
  border: 1px solid #f90a0a;
}

.header {
  font-size: 28px;
  font-weight: 600;
}

.formHeader {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.blue {
  color: var(--color-blue-primary);
}

.formContainer {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 3px 14px rgba(0, 0, 0, 0.06);
  margin-top: 22px;
}

.submit {
  color: white;
  background-color: var(--color-blue-primary);
  font-size: 18px;
  font-weight: 700;
  padding: 12px 16px;
  align-self: center;
  border-radius: 13px;
}

.from {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.checkErr {
  left: 0;
}
