.header {
  font-size: 28px;
  font-weight: 700;
  margin-left: 7px;
  margin-bottom: 16px;
}

.container {
  margin-top: 17px;
}

.infoContainer {
  background-color: rgba(0, 0, 0, 0.03);
  padding: 12px 14px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 14px;
}

.infoText {
  font-size: 14px;
  color: var(--color-black-50);
  font-weight: 600;
}

.egrulData {
  padding-top: 35px;
  border-top: 1px solid var(--color-black-60);
}

.blockHeader {
  font-size: 16px;
  color: var(--color-black-60);
  font-weight: 800;
  margin-bottom: 12px;
}

.rowName {
  color: var(--color-black-50);
}

.rowData {
  padding: 14px 15px;
  background-color: #f7f7f7;
  border: 1px solid var(--color-light-gray-tertiary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  border-radius: 13px;
  color: var(--color-black-60);
  font-size: 16px;
}

.brandGrid {
  display: grid;
  grid-template-columns: auto 517px;
  justify-content: space-between;
  row-gap: 22px;
}

.gridHeader {
  font-size: 16px;
  color: var(--color-black-60);
  margin-top: 15px;
}

.input {
  padding: 14px 15px;
  border-radius: 13px;
  border: 1px solid var(--color-light-gray-tertiary);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  outline: none;
}

.brandInfo {
  padding-bottom: 43px;
  border-bottom: 1px solid var(--color-black-60);
  margin-top: 16px;
}

.base {
  background-color: var(--color-light-gray);
  width: 76px;
  height: 76px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icon {
  width: 100%;
  justify-content: center;
}

.baseInput {
  display: none;
}

.avatarInput {
  display: flex;
  gap: 10px;
  color: var(--color-black-60);
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  width: fit-content;
}

.avatarInput>img {
  width: 17px;
  height: 17px;
}

.brandBtn {
  padding: 15px;
  width: 215px;
  background-color: var(--color-blue-primary);
  color: white;
  border: 1px solid transparent;
  margin-top: 35px;
  border-radius: 10px;
  grid-column: 2;
}

.brandBtn:disabled {
  background-color: transparent;
  color: var(--color-black-60);
  border: 1px solid var(--color-black-60);
}

.flexText {
  display: flex;
  gap: 5px;
}

.text {
  font-size: 14px;
  color: var(--color-black-60);
}

.avatarInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  position: relative;
}

.deleteAvatar {
  position: absolute;
  left: 110px;
}

.avatarContainer {
  display: flex;
  gap: 28px;
}

.contacts {
  margin-top: 21px;
  margin-bottom: 21px;
}

.addContact {
  font-size: 14px;
  color: var(--color-blue-primary);
  text-decoration: underline;
  text-underline-offset: 3px;
  margin-left: 40px;
  margin-top: 24px;
  width: fit-content;
}

.contactInput {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--color-light-gray-tertiary);
  padding: 14px 15px;
  border-radius: 13px;
  font-size: 14px;
  outline: none;
  width: 173px;
}

.comment {
  color: var(--color-black-60);
  width: 322px;
  margin-left: 20px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dataChanged {
  display: flex;
  gap: 10px;
  padding: 14px;
  background-color: rgba(0, 0, 0, 0.03);
  border-radius: 14px;
  align-items: center;
  height: fit-content;
}

.dataChanged>p {
  font-size: 16px;
  font-weight: 600;
}

.checkBase {
  display: flex;
  align-items: flex-start;
  margin-bottom: 33px;
  position: relative;
  gap: 9px;
}

.checkBase[data-selected]>.checkWrapper {
  background-color: var(--color-blue-primary);
}

.checkIcon {
  width: 80%;
  height: 80%;
}

.checkIcon>polyline {
  stroke: white;
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-blue-primary);
  transition: background-color 0.3s ease;
  border-radius: 7px;
  background-color: transparent;
  margin-top: 5px;
}

.checkText {
  color: var(--color-black-60);
  font-size: 16px;
  width: 468px;
}

.errorMessage {
  color: #f90a0a;
  font-size: 10px;
  position: absolute;
  left: 0;
  line-height: 22px;
}


.link {
  color: var(--color-blue-primary);
  text-decoration: underline;
}