.hit_block{
    display: grid;
    grid-template-areas: 
    'button title rcp wrk arrow wrkE price'
    'button city rcp wrk arrow wrkE price'
    ;
    width: 800px;
    height: 75px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    grid-template-columns: 20px 150px 150px 100px 10px 100px 100px;

    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
}

.hit_block > button {
    grid-area: button;
}

.hit_header{
    grid-area: title;
    height: 100%;
}

.hit_header > a{
    height: 100%;
}

.hit_header > a> h3{
    font-weight: 700;
    height: 24px;
    text-decoration: underline;
}


.hit_rcp{
    display: flex;
    justify-content: center;
    grid-area: rcp;
    height: 100%;
    text-align: start;
}

.hit_rcp > p{
    color: #00000079;
}

.hit_wrk{
    display: flex;
    grid-area: wrk;
    height: 100%;
}

.hit_wrk > p{
    color: #00000079;
}

.hit_arrow{
    display: flex;
    color: #8E9BA8;
    grid-area: arrow;
    height: 100%;
}

.hit_wrkE{
    display: flex;
    justify-content: center;
    grid-area: wrkE;
    height: 100%;
}

.hit_wrkE > p{
    color: #00000079;
}

.hit_price{
    display: flex;
    justify-content: center;
    grid-area: price;
    height: 100%;
}


.hit_price > p{
    color: #0084FF;
}

.hit_city{
    margin: 10px 0px 0px;
}
