.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f4f7f9;
  border-radius: 50px;
  padding: 60px 143px 82px 143px;
}

.pageQuestion {
  display: flex;
  align-items: center;
  width: 875px;
  flex-direction: column;
}

.widthofitm {
  display: flex;
  align-items: center;
}

.blueText {
  color: var(--color-blue-primary);
}

.header {
  font-size: 46px;
  font-weight: 900;
  margin-bottom: 22px;
  max-width: 600;
  margin-bottom: 20px;
}

.greytext {
  color: var(--color-text-gray);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.seletct {
  margin-bottom: 30px;
}

.seletcttext {
  color: var(--color-text-gray);
  font-size: 18px;
  font-weight: 500;
}

.selected-item {
  text-align: center;
}

.btnsblock {
  padding: 4px;
  background-color: var(--color-white);
  border-radius: 20px;
  margin-top: 30px;
  display: flex;
  gap: 2px;
  margin-bottom: 30px;
}

.button:disabled {
  background-color: var(--color-blue-primary);
  color: var(--color-white);
}

.button {
  font-size: 18px;
  font-weight: 600;
  border-radius: 17px;
  border: none;
  outline: none;
  padding: 14px 40px;
  background-color: transparent;
  color: var(--color-black-60);
}

.accordionWrapper {
  width: 100%;
  padding: 0;
}

.accordionItem {
  border-radius: 30px;
  min-height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 30px 20px 30px;
  background-color: var(--color-white);
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.accordionTitle {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  max-width: 748px;
}

.accordionTitleWrapper {
  align-self: flex-start;
}

.accordionTrigger {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  gap: 16px;
  display: flex;
  outline: none;
}

.accordionHeading {
  top: 0;
  left: 0;
  padding: 20px 30px;
  height: 100%;
  width: 100%;
  position: absolute;
}

.accordionIndicator {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  background-color: var(--color-light-gray);
  border-radius: 20px;
  outline: none;
}

.accordionContent {
  padding-right: 170px;
  z-index: 3;
}

@media screen and (width < 450px) {
  .container {
    width: 380px;
    border-radius: 20px;
    padding: 0;
    align-items: center;
    padding-top: 30px;
  }

  .header {
    font-size: 30px;
    max-width: 360px;
    text-align: center;
  }

  .greytext {
    font-size: 15px;
    line-height: 19px;
    max-width: 360px;
    text-align: center;
    margin-bottom: 0;
  }

  .btnsblock {
    margin-top: 17px;
    margin-bottom: 17px;
    gap: 0;
    border-radius: 15px;
  }

  .button {
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 12px;
  }

  .pageQuestion {
    max-width: 360px;
  }

  .accordionTitle {
    font-size: 15px;
    font-weight: 700;
    max-width: 255px;
    height: 80px;
  }

  .accordionIndicator {
    width: 50px;
    border-radius: 14px;
  }

  .accordionIndicator:not([data-open]) {
    max-height: 50px;
  }

  .accordionContent {
    padding-right: 72px;
  }

  .accordionItem {
    padding: 15.5px 22px;
    padding-top: 92px;
    min-height: 120px;
  }

  .accordionTitleWrapper {
    height: 80px;
  }

  .accordionTrigger {
    align-items: center;
    gap: 5px;
  }

  .accordionHeading {
    padding: 20px 25px;
  }
}
