.executorForCarousel {
    /* border-bottom: 0; */
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 1px 1px 2px -1px rgb(0 0 0 / 0.1);
    padding: 30px;
    border-radius: 30px;
    border-bottom: 0;
    gap: 10px;
    /* height: min-content; */
    /* margin-bottom: auto; */
    /* width: calc(50% - 30px);
    height: min-content;
    margin-bottom: auto; */
}

@media screen and (max-width: 450px) {
    .executorForCarousel {
        width: 98%;
        margin: 0 auto;
        height: 100%;
    }
}

.servicesForCarousel {
    /* padding-top: 30px; */
    border-top: 1px dashed var(--color-black-10);
    flex-wrap: nowrap;
    gap: 14px;
}

.serviceForCarousel {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    background-color: white;
}

.executorButtonsForCarousel {
    margin-top: auto;
}

@media screen and (max-width: 450px) {
    .servicesForCarousel {
        display: none;
    }

    .executorButtonsForCarousel {
        display: none;
    }
}

.serviceForCarousel:not(:last-of-type) {
    padding-right: 14px;
    border-right: 1px solid var(--color-light-gray-secondary);
}

.executorOfferButtonCarousel {
    background-color: var(--color-back-gray);
    color: var(--color-black);
}

/* .executorTextForCarousel {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 2.6em;
    line-height: 1.3em;
} */