.title {
    font-size: 46px;
    font-weight: 700;
    margin-top: 120px;
}

.title>span {
    color: var(--color-blue-primary);
}

.infos {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
    margin-top: 30px;
}

.info {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 13px;
    border-radius: 20px;
    border: 1px solid var(--color-black-6);
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.infoTitle {
    font-size: 20px;
    font-weight: 700;
}

.infoText {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-black-50);
}

.contact {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 40px 40px 60px;
    background-color: var(--color-back-gray);
    border-radius: 20px;
}

.contactTitle {
    font-weight: 700;
    font-size: 46px;
}

.contactText {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-gray-595);
}

.formTitle {
    font-weight: 600;
    font-size: 24px;
}

.formTitle>span {
    color: var(--color-blue-primary);
}

.checkBase {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    position: relative;
    padding-top: 20px;
    border-top: 1px solid var(--color-black-10);
    width: 614px;
}

.checkBase[data-selected]>.checkWrapper {
    background-color: var(--color-light-gray);
}

.checkIcon {
    width: 80%;
    height: 80%;
}

.checkIcon>polyline {
    stroke: var(--color-blue-primary);
}

.checkWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    min-width: 26px;
    border: 2px solid var(--color-black-10);
    transition: background-color 0.3s ease;
    border-radius: 6px;
    background-color: transparent;
}

.innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
}

.input {
    outline: none;
    width: 100%;
    padding: 0 8px;
}

.base {
    border: 1px solid #e7e7e7;
    position: relative;
    margin-top: 23px;
    border-radius: 10px;
    width: 614px;
    flex-direction: column;
}

.label {
    position: absolute;
    top: -28px;
    left: 15px;
    color: var(--color-black-60);
    font-size: 15px;
    font-weight: 500;
}

.errorMessage {
    color: #f90a0a;
    font-size: 10px;
    position: absolute;
    left: 15px;
    line-height: 22px;
}

.helperWrapper {
    display: block;
}

.base[data-invalid] {
    border: 1px solid #f90a0a;
}

.header {
    font-size: 28px;
    font-weight: 600;
}

.formHeader {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blue {
    color: var(--color-blue-primary);
}

.formContainer {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 3px 14px rgba(0, 0, 0, 0.06);
    margin-top: 22px;
}

.submit {
    color: white;
    background-color: var(--color-blue-primary);
    font-size: 18px;
    font-weight: 700;
    padding: 12px 16px;
    align-self: center;
    border-radius: 13px;
}

.from {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: var(--color-white);
    border-radius: 20px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.checkErr {
    left: 0;
}



.data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

.dataTitle {
    font-weight: 700;
    font-size: 46px;
    margin-bottom: 20px;
}

.dataBlock {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dashed var(--color-black-10);
}

.dataBlock:last-of-type {
    border-bottom: none;
}

.dataBlockTitle {
    width: 100%;
    color: var(--color-gray-595);
    font-weight: 500;
    font-size: 20px;
}

.dataBlockText {
    font-weight: 500;
    font-size: 20px;
    width: 100%;
}

.link {
    color: var(--color-blue-primary);
    text-decoration: underline;
}