.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.section {
    width: 100%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--color-black-30);
    display: flex;
    flex-direction: row;
}

.section__name {
    font-size: 16px;
    font-weight: 700;
}

.section__container {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.sectionLink,
.sectionText {
    font-size: 16px;
    font-weight: 500;
}

.sectionLink {
    text-decoration: underline;
}

.deleteAccaunt {
    padding: 12px 16px;
    background-color: var(--color-white);
    border: 1px solid var(--color-blue-primary);
    border-radius: 13px;
    color: var(--color-blue-primary);
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
}

.inputBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: relative;
}

.inputBlock__name {
    width: 30%;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black-60);
}

.inputBlock__input {
    width: 270px;
    padding: 6px 15px;
    border-radius: 12px;
    border: 1px solid var(--color-text-gray-6);
    transition: all 0.15s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    outline: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.inputBlock__input:focus {
    border-color: var(--color-blue-primary);
}

.updateAccaunt {
    padding: 12px 16px;
    border-radius: 13px;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
}

.updateAccaunt:disabled {
    background-color: var(--color-light-gray);
    color: var(--color-dark-text);
}

.updateAccaunt:disabled:hover {
    cursor: not-allowed;
}

.section__containerStatus {
    gap: 16px;
}

.status {
    padding: 4px 13px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    width: fit-content;
}

.statusSuccess {
    background-color: var(--color-green-secondary);
    color: var(--color-green);
}

.statusUnSuccess {
    background-color: var(--color-pink);
    color: var(--color-red-secondary);
}

.statusVerifyBlock {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8px;
}

.sendMessage {
    padding: 12px 16px;
    border-radius: 13px;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content
}

.sendMessage:disabled {
    background-color: var(--color-light-gray);
    color: var(--color-dark-text);
}

.sendMessage:disabled:hover {
    cursor: not-allowed;
}

.info {
    background-color: var(--color-light-gray-secondary);
    border-radius: 13px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.info__img {
    width: 16px;
    height: 16px;
}

.info__text {
    font-size: 10px;
    font-weight: 500;
    color: var(--color-black-60);
}

.statusBlockedText,
.statusBlockedAction {
    font-size: 14px;
    font-weight: 500;
}

.statusBlockedAction {
    margin-top: 10px;
}

.sectionUserData {
    position: relative;
}

.errorMessage {
    color: var(--color-red-error);
    font-size: 10px;
    position: absolute;
    right: 15px;
    bottom: 0;
    line-height: 22px;
    margin-top: 2px;
}


.innerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
}

.input {
    outline: none;
    margin: 4px 15px;
    width: 100%;
}

.base {
    flex-direction: column;
    border: 1px solid #e7e7e7;
    position: relative;
    border-radius: 10px;
    width: 478px;
}

.label {
    position: absolute;
    top: -28px;
    left: 15px;
    color: var(--color-black-60);
}

.helperWrapper {
    display: block;
}

.errorMessage {
    color: #f90a0a;
    font-size: 10px;
    position: absolute;
    right: 0;
    top: 28px;
    line-height: 22px;
    text-wrap: nowrap;
}

.base[data-invalid] {
    border: 1px solid #f90a0a;
}


.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 3px;
}