.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-size: 28px;
  font-weight: 600;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.headerContainer > p:first-of-type {
  margin-bottom: 25px;
}

.headerContainer > p {
  font-size: 16px;
  font-weight: 600;
}

.fileHeader {
  font-size: 16px;
  font-weight: 600;
}

.fileText {
  font-size: 16px;
  color: var(--color-black-60);
}

.inputFile {
  display: none;
}

.fileBtn {
  background-color: var(--color-blue-primary);
  padding: 9px 15px;
  border-radius: 13px;
  color: var(--color-white);
  margin-top: 10px;
  width: fit-content;
}

.fileContainer {
  padding: 15px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e7e7e7;
  width: 100%;
}

.checkBase {
  display: block;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
  position: relative;
}

.checkBase[data-selected] > .checkWrapper {
  background-color: var(--color-light-gray);
}

.checkIcon {
  width: 80%;
  height: 80%;
}

.checkIcon > polyline {
  stroke: var(--color-blue-primary);
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border: 2px solid var(--color-black-10);
  transition: background-color 0.3s ease;
  border-radius: 6px;
  background-color: transparent;
}

.infoText {
  color: var(--color-black-60);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 15px;
}

.checkContainer {
  margin-top: 14px;
  width: 100%;
}

.send {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-blue-primary);
  font-size: 16px;
  padding: 14px;
  border-radius: 13px;
}

.send:disabled {
  opacity: 0.7;
}

.link {
  color: var(--color-blue-primary);
  text-decoration: underline;
  cursor: pointer;
}

.help {
  color: var(--color-black-60);
}

.help:first-of-type {
  margin-top: 12px;
}
