.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header {
  font-size: 28px;
  font-weight: 600;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.headerContainer > p:first-of-type {
  margin-bottom: 25px;
}

.headerContainer > p {
  font-size: 16px;
  font-weight: 600;
}

.fileHeader {
  font-size: 16px;
  font-weight: 600;
}

.fileText {
  font-size: 16px;
  color: var(--color-black-60);
}

.inputFile {
  display: none;
}

.fileBtn {
  background-color: var(--color-blue-primary);
  padding: 9px 15px;
  border-radius: 13px;
  color: var(--color-white);
  margin-top: 10px;
  width: fit-content;
}

.fileContainer {
  padding: 15px;
  padding-bottom: 30px;
  border-bottom: 2px solid #e7e7e7;
  width: 100%;
}

.infoText {
  color: var(--color-black-60);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 15px;
}

.checkContainer {
  margin-top: 14px;
  width: 100%;
}

.send {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--color-blue-primary);
  font-size: 16px;
  padding: 14px;
  border-radius: 13px;
  box-sizing: border-box;
}

.send:disabled {
  background-color: white;
  border: 1px solid var(--color-blue-primary);
  color: var(--color-blue-primary);
  cursor: not-allowed;
}

.link {
  color: var(--color-blue-primary);
  text-decoration: underline;
  cursor: pointer;
}

.helpContainer {
  margin-top: 12px;
}

.help {
  color: var(--color-black-60);
}

.awaitingVerification {
  margin-bottom: 12px;
  p {
    color: var(--color-green);
  }
}

.verifiedSuccess {
  padding: 4px 13px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  width: fit-content;
  background-color: var(--color-green-secondary);
  color: var(--color-green);
  margin-top: 25px;
}
