.notification {
  position: absolute;
  left: 570px;
  width: 70%;
  height: 150px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.createTender {
  position: relative;
}

.createTenderInput {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.closeButton {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 10px;
  color: #0084FF;
}

.text_underline{
  text-decoration: underline;
}

.blueText {
  color: var(--color-blue-primary);
}

.header {
  font-size: 46px;
  font-weight: 900;
  margin-top: 106px;
  margin-bottom: 22px;
  max-width: 521px;
}

.agregator {
  font-size: 24px;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: space-between;
}

.image {
  width: 449px;
  height: 449px;
}

.createTender {
  padding: 4px 22px 4px 4px;
  background-color: var(--color-blue-primary);
  border-radius: 16px;
  display: flex;
  align-items: center;
  gap: 22px;
  margin-top: 31px;
}

.createTenderInput {
  width: 365px;
  padding: 14px 18px;
  border-radius: 12px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
}

.createTenderInput:focus::placeholder {
  color: transparent;
}

.createTenderInput::placeholder {
  color: var(--color-dark-text);
}

.createTenderBtn {
  border: none;
  outline: none;
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
}

.exampleSearch {
  color: var(--color-text-gray);
  font-size: 14px;
  font-weight: 500;
}

.exampleSearchLink {
  text-decoration: underline;
}

.exampleSearchContainer {
  margin-top: 20px;
  display: flex;
  gap: 3px;
}

.embla {
  overflow: hidden;
  position: relative;
}

.embla__viewport {
  width: 1130px;
}

.embla__container {
  display: flex;
  width: 1130px;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide:not(:last-child) {
  margin-right: 200px;
}

.embla__slide {
  margin-left: 200px;
}

.slide2 {
  height: 449px;
  /* background-color: var(--color-blue-primary); */
}

@media screen and (width < 450px) {
  .header {
    font-size: 30px;
    text-align: center;
    max-width: 359px;
    margin-top: 32px;
  }

  .embla {
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .embla__viewport {
    width: 390px;
  }

  .embla__container {
    display: flex;
    width: 390px;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    max-width: 390px;
  }

  .embla__slide:not(:last-child) {
    margin-right: calc((100vw - 390px) / 2);
  }

  .embla__slide {
    margin-left: 0;
    justify-content: center;
  }

  .exampleSearch {
    color: var(--color-text-gray);
    font-size: 12px;
    font-weight: 500;
  }

  .exampleSearchLink {
    text-decoration: underline;
  }

  .exampleSearchContainer {
    margin-top: 5px;
    display: flex;
    gap: 3px;
  }

  .createTenderInput {
    width: 286px;
    padding: 11px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
  }

  .createTenderInput::placeholder {
    color: var(--color-dark-text);
  }

  .createTenderBtn {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
  }

  .createTender {
    padding: 4px 22px 4px 4px;
    background-color: var(--color-blue-primary);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 16px;
  }

  .image {
    display: none;
  }

  .mobileContainer {
    width: 100vw;
  }


  .agregator {
    font-size: 16px;
    text-align: center;
  }

  .slide2 {
    height: 210px;
  }

  .container {
    justify-content: center;
  }
}