.develop_container{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 1130px;
    gap: 40px;
    align-items: center;
}

.develop_header{
    font-size: 36px;
    font-weight: 700;
    /* color: #0084FF; */

}

.develop_list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list_elem{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    
}

.list_elem
>
p{
    width: 347px;
}

.header_line{
    display: flex;
    align-items: center;
    gap: 16px;
}

.header_line
 > 
img {
    height: 50px;
    width: 50px;
}

.header_line
 > 
h3 {
    width: 280px;   
    font-size: 20px;
    font-weight: 500;
}



.blueText {
    color: var(--color-blue-primary);
  }
  