.flexText {
  display: flex;
  gap: 5px;
  margin-bottom: 4px;
}

.container {
  color: var(--color-black-60);
  width: 370px;
  margin-left: 20px;
}

.text {
  color: var(--color-black-60);
  font-size: 14px;
}

.btn {
  display: flex;
  gap: 10px;
  font-size: 16px;
  align-items: center;
  margin-top: 14px;
}
