.container {
  width: 274px;
  height: 90px;
  border-radius: 26px;
  padding: 15px 12px;
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--color-black-10);
  transition: all 0.3s ease;
}

.active {
  border: 1px solid var(--color-blue-primary);
  box-shadow: 0 4px 0 0 var(--color-blue-primary);
}

.image {
  width: 60px;
  height: auto;
}

.text {
  color: var(--color-black-60);
  font-size: 14px;
  height: 21px;
}

.textContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
  height: 100%;
}

.header {
  font-weight: 600;
}

@media screen and (width < 450px) {
  .image {
    display: none;
  }

  .container {
    padding: 10px 15px;
    min-width: 170px;
  }

  .header {
    font-size: 12px;
    font-weight: 700;
  }

  .textContent {
    justify-content: space-between;
  }
}
