.main_bgc{
    width: 100%;
    background-color: #F5F5F5;
    padding: 37px 0px ;
}

.main_content{
    margin: 20px auto;
    width: 1130px;
    background-color: white;
    border-radius: 30px;
    padding: 70px 0px;

}

.content_block{
    width: 780px;
    margin: 50px auto;
}

.main_header{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.main_header__text{
    color: #070C2C;
    font-size: 36px;
    font-weight: 500;
}

.main_header__paragraph{
    font-size: 22px;
}

.accent{
    color: #0084FF;
}

.accent_block{
    font-weight: 700;
}

.block_header{
    width: 100%;
    height: 44px;
    background-color: #0084ff29;
    color: #0084FF;
    display: flex;
    align-items: center;
    border-radius: 13px;
    padding: 0px 20px;
    font-size: 24px;
}

.block_paragraph{
    width: 740px;
    margin: 20px auto;

}

.block_link{
    color: #0084FF;
    text-decoration: underline;
}


.gost_block{
    background-color: #00000010;
    padding: 15px 20px;
    border-radius: 13px;
    box-shadow: -5px 0px #00000022;
}

.gost_header{
    margin-bottom: 16px;
    font-weight: 600;
}

.gost_block_inter{
    display: block;
    margin-top: 20px;
}