.block_container {
  width: 1103px;
  margin: 20px auto;
  display: flex;
  gap: 30px;
}

.main_blokkk {
  /* width: 1103px; */
  margin: 20px auto;
}

.content {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

.button {
  width: 100%;
  height: 113px;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: background 0.3s ease;
}

.gradient {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15) 0%,
    #ffffff 100%
  );
  height: 113px;
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: bottom 0.5s ease;
}

.active {
  bottom: -113px;
}
