.container {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.modal {
  width: 500px;
  min-height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--color-black-10);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.input {
  border: 2px solid var(--color-blue-primary);
  width: 100%;
  border-radius: 12px;
  padding: 5px 10px;
  outline: none;
}

.citiesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--color-blue-primary);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-top: 10px;
  margin-top: -10px;
  max-height: 410px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-blue-primary);
  color: white;
  padding: 10px 20px;
  border-radius: 12px;
  width: 145px;
}

.btn:disabled {
  opacity: 0.7;
}

.city {
  padding: 10px 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--color-black);
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.city:hover {
  background-color: var(--color-blue-primary-6);
  color: var(--color-blue-primary);
}

.newCity {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
}

.region {
  color: var(--color-black-60);
}

.cancelBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 12px;
  border: 1px solid var(--color-blue-primary);
  width: 145px;
}

.btns {
  display: flex;
  gap: 20px;
  margin-top: 15px;
}
