.data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.dataTitle {
  font-weight: 700;
  font-size: 46px;
  margin-bottom: 20px;
}

.dataBlock {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px dashed var(--color-black-10);
}

.dataBlock:last-of-type {
  border-bottom: none;
}

.dataBlockTitle {
  width: 100%;
  color: var(--color-gray-595);
  font-weight: 500;
  font-size: 20px;
}

.dataBlockText {
  font-weight: 500;
  font-size: 20px;
  width: 100%;
}
