.container {
    display: flex;
    flex-direction: column;
    min-width: 312px;
    max-width: 312px;
    width: 312px;
    gap: 16px;
}

.mainTitle {
    color: var(--color-text-gray-second);
    font-size: 24px;
    font-weight: 600;
}

.block {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--color-black-14);
}

.block:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.title {
    color: var(--color-black-60);
    font-size: 16px;
    font-weight: 600;
}

.inputFilterLabel {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 6px;
}

.inputFilterLabel>.inputFilterLabelImg {
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.inputFilterLabel>.inputFilter {
    width: 100%;
    padding: 8px 8px 8px 30px;
    border-radius: 12px;
    border: 1px solid var(--color-text-gray-6);
    transition: all 0.15s ease-in-out;
    font-weight: 600;
    outline: none;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.inputFilterLabel>.inputFilter input {
    outline: none;
    width: 100%;
    color: var(--color-text-gray);
}

.inputFilterLabel>.inputFilter button {
    display: none;
}

.inputFilterLabel>.inputFilter svg {
    display: none;
}

.inputFilterLabel>.inputFilter:has(input:focus) {
    border-color: var(--color-blue-primary);
}

.inputFilterLabel>.inputFilter input::placeholder {
    color: var(--color-text-gray);
}

.block>button {
    padding: 11px;
    border-radius: 12px;
}

.block>.makeFilters {
    background-color: var(--color-dark-text);
    color: var(--color-white);
}

.block>.resetFilters {
    background-color: var(--color-back-gray);
}

.block>.chosenLocations {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
    flex-wrap: wrap;
}

.block>.chosenLocations>.chosenLocation {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    background-color: var(--color-back-gray);
    border: 1px solid var(--color-text-gray-6);
    border-radius: 6px;
}

.block>.chosenLocations>.chosenLocation>.removeChosenLocation {
    height: 18px;
    width: 18px;
}

.block>.chosenLocations>.chosenLocation>.removeChosenLocation:hover {
    cursor: pointer;
}

.block .hitList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.block .hitList>.location {
    border-radius: 9px;
    padding: 4px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block .hitList>.location:hover {
    cursor: pointer;
    background-color: var(--color-blue-primary-6);
    color: var(--color-blue-primary) !important;
}

.inputFilterLabel {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.inputFilterLabel>.inputFilterLabelImg {
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.inputFilterLabel>.inputFilter {
    width: 100%;
    padding: 8px 8px 8px 30px;
    border-radius: 9px;
    color: var(--color-text-gray);
    outline: none;
    border: 1px solid var(--color-text-gray-6);
    transition: all 0.15s ease-in-out;
    font-weight: 600;
}

.inputFilterLabel>.inputFilter:focus {
    border-color: var(--color-blue-primary);
}

.inputFilterLabel>.inputFilter::placeholder {
    color: var(--color-text-gray);
}

.block .hitList .objectItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    padding: 4px 7px;
}

.block .hitList .objectItem:hover {
    cursor: pointer;
}

.block .hitList .objectItem>.objectItemImage {
    width: 19px;
    height: 19px;
}

.block .hitList .objectTypeList {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.block .hitList .objectTypeList .objectTypeItem {
    margin-top: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    color: var(--color-black-60);
    border-radius: 6px;
    padding: 4px 7px;
}

.block .hitList .objectTypeList .objectTypeItem:hover {
    cursor: pointer;
}

.block .hitList .objectTypeList .objectTypeItem:has(img) {
    background-color: var(--color-back-gray);
    color: var(--color-black);
}

.block .hitList .objectTypeList .objectTypeItem>span,
img {
    width: 19px;
    height: 19px;
    min-width: 19px;
}

.showMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 5px !important;
    gap: 5px;
    background-color: var(--color-back-gray);
    border-radius: 6px;
    outline: none;
}

.showMore>img {
    width: 20px;
    height: 20px;
    transition: all ease-in-out .15s;
}

.showLess>img {
    transform: rotate(180deg);
}