.notification_container {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 700px;
}

.created_at {
  padding: 12px 0 0 12px;
}

.header_line {
  width: 700px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  /* align-items: center; */
}

.content {
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%;
  min-height: 50px;
  margin-left: auto;
  border-radius: 13px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  /* transition: max-height 0.5s ease-out, padding 0.5s ease-out; */
  max-height: 150px;
}


.notification_header {
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  padding: 0 0 0 6px;
  /* transition: border-bottom-color 0.5s ease-out, padding 0.5s ease-out; */
}

.notification_header_expanded {
  border-bottom: 1px dashed #ccc;
  padding: 0 0 10px 6px;
}


.message {
  display: flex;
  flex-direction: column;
  padding: 10px;
}



.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
}