.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px dashed var(--color-black-14);
}

.title {
    font-size: 46px;
    font-weight: 600;
}

.title>span {
    color: var(--color-blue-primary);
}

.inputFilterLabel {
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
}

.inputFilterLabel>.inputFilterLabelImg {
    position: absolute;
    bottom: 10px;
    left: 8px;
}

.inputFilterLabel>.inputFilter {
    width: 100%;
    background-color: var(--color-back-gray);
    padding: 8px 8px 8px 30px;
    border-radius: 9px;
    color: var(--color-text-gray);
    outline: none;
    border: 1px solid var(--color-text-gray-6);
    transition: all 0.15s ease-in-out;
    font-weight: 600;
}

.inputFilterLabel>.inputFilter:focus {
    border-color: var(--color-blue-primary);
}

.inputFilterLabel>.inputFilter::placeholder {
    color: var(--color-text-gray);
}

.filters {
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.filter {
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    background-color: var(--color-back-gray);
    border: 1px solid var(--color-text-gray-6);
    border-radius: 6px;
}

.filterName {
    font-weight: 600;
}

.removeFilter {
    height: 18px;
    width: 18px;
}

.removeFilter:hover {
    cursor: pointer;
}

.removeAllFilters {
    margin-left: 10px;
    font-weight: 600;
    text-decoration: underline;
}