.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title {
    font-size: 28px;
    font-weight: 600;
}

.empty {
    text-align: center;
}


.paginationBlock {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.paginationBase {
    width: fit-content;
}

.paginationBase>.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.paginationBase>.wrapper>.cursor {
    display: none;
}

.paginationBase>.wrapper>li {
    border-radius: 12px;
    padding: 11px 20px;
    color: var(--color-black-60);
    outline: none;
}

.paginationBase>.wrapper>li[aria-current="true"] {
    background-color: var(--color-back-gray);
    color: var(--color-black);
}

/* .paginationBase>.wrapper>.next {
    transform: rotate(180deg);
} */

.paginationPerPageButton {
    padding: 12px 18px;
    border-radius: 13px;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 600;
    width: fit-content;
    text-wrap: nowrap;
}