.container {
  max-width: 347px;
}

.image {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 20px;
  font-weight: 600;
}

.text {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-text-gray);
}

.headerContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

@media screen and (width < 450px) {
  .image {
    width: 35px;
    height: 35px;
  }

  .title {
    font-size: 16px;
  }

  .headerContainer {
    justify-content: flex-start;
    margin-bottom: 10px;
  }

  .text {
    font-size: 16px;
    margin-left: 51px;
  }
}
