.switch_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 10px;
    width: 1024px;
    height: 50px;
    border-bottom: 2px solid #0000002c;
    gap: 10px;
  }
  
  .form_modal{
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
  }

  .button_modal{
    background-color:#0084FF;
    color: white;
    width: 100%;
    border-radius: 8px;
  }

  div > .button_modal{
    width: 200px;
    height: 40px;
    
  }


  .switch_btn {
    padding: 6px;
    border-right: 1px solid #F4F7F9;
    cursor: pointer;
    color: #666666;
    font-size: 18px;
    position: relative;
  }
  
  .switch_btn.active {
    color: black;
  }

  .switch_btn.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #0084FF;
    width: 100%;
    height: 2px;
  }
  
  .switch_btn:nth-child(4){
    border-right: none;
  }
  .content {
    margin-top: 20px;
    font-size: 18px;
  }
  

  .nds_notice{
    display: flex;
    align-items: center;
    background-color: #0000000a;
    border-radius: 14px;
    height: 64px;
  }

  .nds_notice_text{
    font-size: 16px;
  }


  .circle{
    width: 16px;
    height: 16px;
    margin: 0 14px;
    border-radius: 100px;
    background-color: #0084FF;
  }

  .modalOverlay {
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    width: 658px;
    height: 395px;
    position: relative;
    /* z-index: 100000000000000000000000; */
  }
  
  .input_modal{
    width: 154px;
    height: 50px;
    /* border: 1px solid rgba(0, 0, 0, 0.199); */
    border-radius: 13px;
    margin: 0 12px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.082) ;
  }

  .input_checkbox{
    width: 22px;
    height: 22px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.082) ;
    border: none;
    outline: none;
  }

  .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
  }
  
  .field{
    display: flex;
    margin-top: 10px;
    width: 100%;
  } 

  
  .field:nth-child(2){
    display: flex;
    margin-top: 10px;
    align-items: center;
  } 

  .wrap_label{
    display: flex;
    /* text-align: center; */
    /* flex-direction: column; */
    align-items: center;
  }

  .field:nth-child(1){
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #00000025;
    padding-bottom: 10px;
  }

  .accent_paragraph{
    font-size: 18px;
    
  }

  .middle_paragraph{
    /* display: flex; */
    font-weight: 700;
    margin: 0 12px;
  }
  
  .button_spec {
    background-color: #007bff;
    width: 148px;
    height: 50px;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    
  }

  .span_nds{
    margin: 0;
    padding: 0;
  }

  .modalHeader{
    font-size: 28px;
  }

  .base{
    background-color: #0084FF;
    /* border: 1px solid blue; */
    position: relative;
    width: 42px;
    padding: 0;
    border-radius: 20px;
    height: 22px;
    margin: 0 10px;
  }

  .thumb{
    margin: 0;
    background-color: white;
    position: absolute;
    /* z-index: 10000000000000000000000; */
    width: 18px;
    height: 18px;
    top: 2px;
    left: 3px;
    border-radius: 50px;
    transition: transform 0.3s ease ;
  }

  .base[data-selected]>.wrapper>.thumb{
    background-color: white;
    transition: transform 0.3s ease ;
    transform: translateX(15px);
  }

  .wrapper{
    width: 42px;
    height: 100%;
  }

  .button_modal_adapt{
    display: none;
  }
  
@media screen and (width < 450px) {
 .switch_container{
  width: 358px;
  gap: 0px;
 }
  

 .switch_btn{
  font-size: 14px;
  white-space: nowrap; 
  padding: 3px;

 }


 .switch_btn:nth-child(4){
  font-size: 14px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
 }

 .switch_btn.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  background: #0084FF;
  width: 100%;
  height: 2px;
}
.button_modal{
  display: none;
}

.button_modal_adapt{
  display: block;
  margin: 0 auto;
  background: #0084FF;
  color: #fff;
  width: 358px;
  height: 40px;
  border-radius: 10px;
}



}
