.base {
  background-color: var(--color-light-gray);
  width: 186px;
  height: 186px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  overflow: hidden;
  cursor: pointer;
}

.name {
  color: red;
}

.icon {
  display: flex;
  justify-content: center;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.baseInput {
  display: none;
}

.avatarLabel {
  width: fit-content;
  display: block;
  position: relative;
  border-radius: 100%;
}

.camera {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--color-blue-primary);
  background-image: url('/camera-ic.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 3;
  cursor: pointer;
  bottom: 8px;
  right: 8px;
}
