.container {
    width: 478px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    margin-left: 15px;
    font-size: 27px;
    font-weight: 600;
}

.inputWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 3px;
}

.inputLabel {
    margin-left: 15px;
    color: var(--color-black-60);
}

.input {
    border: 1px solid rgb(229, 231, 235);
    border-radius: 10px;
    padding: 22px 15px;
    outline: none;
    transition: all ease-in-out .15s;
}

.errorInput {
    border-color: var(--color-red-error);
}

.input:focus {
    border-color: var(--color-blue-primary);
}

.errorMessage {
    color: var(--color-red-error);
    font-size: 10px;
    position: absolute;
    left: 15px;
    bottom: -20px;
    line-height: 22px;
}

.sendButton {
    margin: 20px 15px 0;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
}

.sendButton:disabled {
    background-color: var(--color-light-gray);
    color: var(--color-dark-text);
}

.sendButton:disabled:hover {
    cursor: not-allowed;
}