@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner {
    margin: auto 0;
    text-align: center;
    font-size: 32px;
    animation: spin 1s linear infinite;
}

.errorMessage {
    text-align: center;
    padding: 25px 0;
    font-size: 24px;
}

.link {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: var(--color-blue-primary);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}