.blueText {
  color: var(--color-blue-primary);
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.surveyTitle {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-blue-secondary);
}

.survey__pair {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.survey__pair__image {
  width: 50px;
  height: 50px;
}

.survey__pair__text {
  font-size: 20px;
  font-weight: 700;
}

.part1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f5fafe;
  height: 327px;
}

.afertaText {
  font-size: 18px;
  font-weight: 500;
}

.laptopImage {
  width: 500px;
  height: 500px;
}

.regularText {
  font-size: 26px;
  font-weight: 400;
  align-self: flex-start;
}

.text {
  width: 1016px;
  font-size: 24px;
  font-weight: 600;
}

.bold {
  font-weight: 800;
}

.list {
  align-self: flex-start;
}

.boldText {
  font-size: 26px;
  font-weight: 700;
  margin-top: 60px;
  align-self: flex-start;
}

.narrowText {
  position: relative;
}

.narrowText::before {
  content: '';
  width: 9px;
  height: 100%;
  position: absolute;
  background-color: #f3f3f3;
  left: -24px;
}

.link {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-blue-primary);
}

.part2 {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.part2>p,
ul {
  max-width: 956px;
}

.dotLi {
  list-style-type: initial;
  margin-left: 15px;
}

.numberLi {
  font-weight: 700;
}

.survey__button {
  background-color: var(--color-blue-primary);
  color: white;
  width: 430px;
  padding: 11px 0;
  border-radius: 20px;
  font-weight: 700;
  font-size: 32px;
  display: flex;
  justify-content: center;
  margin: 25px 0;
  margin-bottom: 120px;
}

.blueBackground {
  background-color: var(--color-blue-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  padding: 28px;
}

.questionsHeader {
  margin-top: 40px;
}

.italic {
  font-style: italic;
}

.questionItem {
  list-style-type: decimal;
  margin-bottom: 70px;
}

.questionItem:not(:first-child) {
  border-top: 1px dashed var(--color-black-60);
  padding-top: 50px;
}

.questionsContainer {
  width: 1016px;
  margin: 0 auto;
  margin-top: 40px;
}

.radioBase {
  display: flex;
  gap: 32px;
}

.radioControl {
  width: 0;
  height: 0;
  border-radius: 100%;
  background-color: transparent;
  transition: all 0.3s ease;
}

.radioBase[data-selected]>.radioWrapper>.radioControl {
  background-color: black;
  width: 18px;
  height: 18px;
}

.radioWrapper {
  border: 3px solid black;
  width: 32px;
  height: 32px;
  display: flex;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.radioGroupNumbersWrapper {
  display: flex;
  gap: 10px;
  position: relative;
  margin-top: 20px;
}

.radioNumberBase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.radioNumberBase[data-selected]>.radioWrapper>.radioControl {
  background-color: black;
  width: 18px;
  height: 18px;
}

.input {
  border: 3px solid var(--color-black-30);
  border-radius: 20px;
  width: 431px;
  height: 58px;
  outline: none;
  padding: 10px 10px;
  font-size: 20px;
}

.input:disabled {
  opacity: 0.3;
}

.textarea {
  border: 3px solid var(--color-black-30);
  font-size: 20px;
  width: 431px;

  >div {
    padding: 8px 5px;
    border-radius: 50%;
    width: 431px;

    >div {
      textarea {
        outline: none;
      }
    }
  }
}

.radioGroupWrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
  position: relative;
}

.yourVariant {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nextBtn {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 18px;
}

.nextBtn2 {
  min-width: 175px;
  max-width: 220px;
  font-size: 26px;
  display: flex;
  align-items: center;
  padding: 12px 18px;
}

.backBtn {
  background-color: var(--color-light-gray);
  color: black;
  width: 175px;
  font-size: 26px;
  display: flex;
  align-items: center;
}

.btnsContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.errorText {
  color: var(--color-red-error);
  font-size: 12px;
  position: absolute;
  bottom: -20px;
}

.comment {
  margin-top: 40px;
  margin-bottom: 40px;
}

.tableQuestinHeader {
  display: flex;
  justify-content: space-between;
}

.tableQuestinHeader>p {
  color: var(--color-blue-primary);
}

.tableQuestinHeader>div {
  display: flex;
  width: 320px;
  justify-content: space-around;
  margin-right: 18px;
}

.tableQuestinHeader>div>p {
  color: var(--color-blue-primary);
  width: 125px;
  text-align: center;
}

.tableRadioGroupWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  position: relative;
  background-color: var(--color-light-gray);
  padding: 12px 18px;
  border-radius: 10px;
  width: 100%;
}

.tableRadioGroupWrapper>p {
  width: 65%;
}

.tableRadioGroupWrapper>div {
  display: flex;
  width: 33%;
  justify-content: space-around;
  align-items: center;
}

.checkBase {
  display: block;
  display: flex;
  align-items: center;
  position: relative;
}

.checkIcon {
  width: 80%;
  height: 80%;
}

.checkIcon>polyline {
  stroke: var(--color-blue-primary);
}

.checkWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: 2px solid var(--color-black-10);
  transition: background-color 0.3s ease;
  border-radius: 6px;
  background-color: white;
}

.checkText {
  margin-left: 10px;
}

.checkContainer {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-light-gray);
  padding: 12px 18px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.checkContainer>p {
  width: 600px;
}

.checkGroup {
  margin-top: 30px;
  position: relative;

  >div {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (width <=1050px) {
  .container {
    width: 670px;
  }

  .title {
    font-size: 30px;
  }

  .survey__pair__image {
    width: 40px;
    height: 40px;
  }

  .survey__pair__text {
    font-size: 15px;
  }

  .part1 {
    height: 257px;
  }

  .laptopImage {
    width: 350px;
    height: 350px;
  }

  .regularText {
    font-size: 12px;
  }

  .boldText {
    font-size: 12px;
  }

  .part2>p,
  ul {
    max-width: 956px;
  }

  .surveyTitle {
    font-size: 60px;
  }

  .survey__button {
    width: 320px;
    font-size: 18px;
  }
}

@media screen and (width <=700px) {
  .container {
    width: 470px;
  }

  .title {
    font-size: 20px;
  }

  .survey__pair__image {
    width: 30px;
    height: 30px;
  }

  .survey__pair__text {
    font-size: 10px;
  }

  .part1 {
    height: 200px;
  }

  .laptopImage {
    width: 250px;
    height: 250px;
  }

  .regularText {
    font-size: 12px;
  }

  .boldText {
    font-size: 12px;
  }

  .part2>p,
  ul {
    max-width: 458px;
  }

  .surveyTitle {
    font-size: 45px;
  }

  .survey__button {
    width: 220px;
    font-size: 12px;
  }
}

@media screen and (width <=450px) {
  .container {
    width: 90%;
  }

  .title {
    font-size: 24px;
  }

  .survey__pair__image {
    width: 20px;
    height: 20px;
  }

  .survey__pair__text {
    font-size: 15px;
  }

  .part1 {
    height: 150px;
    padding: 0 5px;
  }

  .laptopImage {
    width: 150px;
    height: 150px;
  }

  .regularText {
    font-size: 15px;
  }

  .boldText {
    font-size: 15px;
  }

  .part2>p,
  ul {
    max-width: 90%;
  }

  .surveyTitle {
    font-size: 30px;
  }

  .survey__button {
    width: 140px;
    font-size: 15px;
  }

  .text {
    font-size: 15px;
    max-width: 360px;
  }

  .blueBackground {
    padding: 20px;
  }

  .questionsContainer {
    max-width: 360px;
  }

  .yourVariant {
    flex-direction: column;
  }

  .input {
    width: 100%;
    font-size: 15px;
    border-width: 1px;
    height: 50px;
  }

  .radioBase {
    align-self: self-start;
  }

  .radioWrapper {
    width: 24px;
    height: 24px;
  }

  .radioBase[data-selected]>.radioWrapper>.radioControl {
    width: 13px;
    height: 13px;
  }

  .radioNumberBase[data-selected]>.radioWrapper>.radioControl {
    width: 13px;
    height: 13px;
  }

  .questionItem {
    margin-bottom: 30px;
  }

  .survey__button {
    margin-top: 0;
    margin-bottom: 0;
  }

  .tableQuestinHeader>div>p {
    width: 80px;
  }

  .tableQuestinHeader>div {
    width: fit-content;
    margin-right: 14px;
    gap: 5px;
  }

  .tableRadioGroupWrapper {
    padding: 8px 14px;
  }

  .tableRadioGroupWrapper>div {
    width: 160px;
  }

  .tableRadioGroupWrapper>p {
    max-width: 170px;
  }

  .checkWrapper {
    width: 24px;
    height: 24px;
  }
}