@import '../../assets/colors.css';

.container {
  padding: 30px;
  background-color: var(--color-white);
  width: 520px;
  border-radius: 30px;
}

.cardContent {
  padding: 0 18px 0 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 20px;
}

.cardText {
  color: var(--color-text-gray-second);
  font-size: 20;
  font-weight: 500;
}

.btn {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-gray);
  padding: 12px 16px 12px 18px;
  border-radius: 20px;
}

.btnText {
  font-weight: 700;
  font-size: 18px;
}

.header {
  display: flex;
  gap: 16px;
  align-items: center;
}

.image {
  width: 50px;
  height: 50px;
}
