.block_main{
    display: flex;
    margin: 0 auto;
    padding: 30px 0;
    width: 1024px;
    border-top: 1px dashed #00000033;
    border-top-width: 2px;
}

.block_main_p{
    width: 244px;
    font-size: 18px;
    color: #666666;
}

.block_add_p{
    flex-grow: 2;
    font-size: 18px;
    width: 780px;
}




@media screen and (width < 450px) {
    .block_main{
        width: 358px;
        margin: 20px auto;
        flex-direction: column;
        width: 358px;
    }
    .block_add_p{
        flex-grow: 2;
        font-size: 18px;
        width: 358px;
    }
   
   }