.innerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
}

.input {
  outline: none;
  margin: 14px 15px;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base {
  flex-direction: column;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 43px;
  border-radius: 10px;
  width: 478px;
  transition: all ease-in-out .15s;
}

.base:has(.input:focus) {
  border-color: var(--color-blue-primary) !important;
}

.label {
  position: absolute;
  top: -28px;
  left: 15px;
  color: var(--color-black-60);
}

.helperWrapper {
  display: block;
}

.errorMessage {
  color: var(--color-red-error);
  font-size: 10px;
  position: absolute;
  line-height: 22px;
}

.base[data-invalid] {
  border: 1px solid var(--color-red-error);
}

.inputContainer {
  height: fit-content;
  padding-bottom: 20px;
}

.header {
  font-size: 27px;
  font-weight: 600;
  margin-top: 70px;
  margin-left: 15px;
}

.submit {
  border-radius: 10px;
  padding: 10px;
  width: 448px;
  background-color: var(--color-blue-primary);
  color: var(--color-white);
  cursor: pointer;
}

.submit:disabled {
  opacity: 0.8;
}

.submitContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

@media screen and (width < 450px) {
  .base {
    width: 360px;
  }

  .submit {
    width: 360px;
  }

  .header {
    text-align: center;
    font-size: 22px;
  }
}


.forgotPassword {
  margin-left: 15px;
  color: var(--color-blue-primary);
  text-decoration: underline;
}