.innerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 15px;
}

.input {
  outline: none;
  margin: 14px 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.base {
  flex-direction: column;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 43px;
  border-radius: 10px;
  width: 478px;
}

.label {
  position: absolute;
  top: -28px;
  left: 15px;
  color: var(--color-black-60);
}

.errorMessage {
  color: #f90a0a;
  background-color: #ffd1d4;
  border-top: 1px solid #ffc5c5;
  padding: 6px 15px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.base[data-invalid] {
  border: 1px solid #ffc5c5;
}

.inputContainer {
  height: 83px;
}

.header {
  font-size: 27px;
  font-weight: 600;
  margin-top: 70px;
  margin-left: 15px;
}

.submit {
  border-radius: 10px;
  padding: 10px;
  width: 448px;
  background-color: var(--color-blue-primary);
  color: var(--color-white);
  cursor: pointer;
}

.submit:disabled {
  opacity: 0.8;
}
.submitContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 30px;
}
