.count {
  width: 20px;
  height: 20px;
  background-color: var(--color-blue-primary);
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 13px;
  box-shadow: 0px 2px 4px 0px #0084ff33;
  position: absolute;
  left: 60%;
}

.img {
  width: 16px;
  height: 20px;
}

.dis:disabled {
  background-color: red;
}

.trigger {
  display: flex;
  position: relative;
}

.container {
  display: flex;
  gap: 10px;
  position: relative;
}

@media screen and (width < 450px) {
  .container {
    gap: 5px;
  }
}
