.executor {
    padding-bottom: 30px;
    border-bottom: 1px dashed var(--color-black-14);
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.executorInfo {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.executorInfo>a {
    min-width: 86px;
    max-width: 86px;
    height: 86px;
}

.executorInfo .executorImage {
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

@media screen and (max-width: 450px) {
    .executorInfo .executorImage {
        width: 50px;
        height: 50px;
    }
}

.executorText {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
}

.executorText>img {
    margin-top: 5px;
}

.executorText>img:hover {
    cursor: pointer;
}

.executorInfo>.executorTextBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.executorInfo>.executorTextBlock .executorName {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-dark-text);
}

@media screen and (max-width: 450px) {
    .executorInfo>.executorTextBlock .executorName {
        font-size: 17px;
    }
}

.executorInfo>.executorTextBlock>.executorText {
    font-size: 18px;
    color: var(--color-black-60);
}

@media screen and (max-width: 450px) {
    .executorInfo>.executorTextBlock>.executorText {
        font-size: 14px;
    }
}

.executorInfo>.executorTextBlock>.executorRegions {
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 100%;
    flex-wrap: wrap;
}

.executorInfo>.executorTextBlock>.executorRegions>.executorRegion {
    padding: 1px 6px;
    background-color: var(--color-black-30);
    border-radius: 8px;
    color: var(--color-white);
    text-wrap: nowrap;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.service {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    background-color: var(--color-gray);
    border-radius: 14px;
    justify-content: center;
}

.service:hover {
    cursor: pointer;
}

.service>.serviceName {
    font-size: 16px;
    font-weight: 700;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.service>.servicePrice {
    color: var(--color-blue-primary);
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.showMore {
    align-items: center;
}

.executorButtons {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.executorButtons>button {
    border-radius: 13px;
    padding: 15px;
    height: fit-content;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.executorButtons>button>img {
    width: 24px;
    height: 22px;
}

.executorLoveButton {
    border: 1px solid var(--color-text-gray-1);
}

.executorOfferButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-blue-primary);
    color: var(--color-white);
    width: 100%;
    font-weight: 700;
}