@import '../../assets/colors.css';

.imgcontainer {
  width: 175px;
  height: 86px;
  display: flex;
  align-items: center;
}

.container {
  margin-top: 50px;
}

.minilogo {
  width: 60px;
  height: 86px;
  margin-right: 17px;
}

.logo {
  width: 98px;
  height: 38px;
}

.footerTop {
  justify-content: space-between;
  align-items: center;
  margin-top: 11px;
  display: flex;
}

.column {
  width: 222px;
  height: fit-content;
}

.footercolumn {
  color: var(--color-text-black);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

.point {
  color: var(--color-text-gray);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.pointtwo {
  color: var(--color-text-gray);
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 18px;
}

.bluetext {
  font-size: 20px;
  font-weight: 700;
  color: #3798f2;
}

.line {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-top: 30px;
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
}

.footerUnder {
  height: fit-content;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.confidental {
  color: var(--color-text-black);
  font-size: 16;
  font-weight: 500;
  margin-right: 50px;
}

.last {
  display: inline-flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.greytext {
  color: var(--color-text-gray);
  font-size: 16px;
  font-weight: 500;
}

.base {
  background-color: var(--color-light-gray);
  width: 37px;
  height: 37px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  overflow: hidden;
  border: 1px solid var(--color-blue-primary);
}

.avatarImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.loginLink {
  display: flex;
  gap: 9px;
  padding: 9px 14px;
  background-color: var(--color-light-gray);
  border-radius: 10px;
}

.loginText {
  color: var(--color-dark-text);
  font-weight: 400;
}

.registrationText {
  color: var(--color-white);
  font-size: 16px;
  font-weight: 400;
}

.registrationLink {
  padding: 9px 14px;
  border-radius: 10px;
  background-color: var(--color-blue-primary);
}

.loginRegister {
  display: flex;
  gap: 20px;
}

@media screen and (width < 450px) {
  .footerTop {
    justify-content: space-between;
    max-width: 390px;
    width: 100%;
  }

  .headercolumn {
    text-align: center;
  }

  .column {
    display: none;
  }

  .bluetext {
    text-align: center;
  }

  .supportService {
    display: block;
    width: 365px;
  }

  .supportService > ul {
    display: flex;
    max-width: 365px;
  }

  .pointtwo {
    font-size: 13px;
    text-align: center;
  }

  .loginRegister {
    flex-direction: column;
    gap: 10px;
  }

  .loginLink {
    padding: 5px 10px;
  }

  .loginLink > img {
    width: 13.5px;
    height: 13.5px;
    align-self: center;
  }

  .registrationLink {
    padding: 5px 10px;
  }

  .registrationText {
    font-size: 12px;
  }

  .loginText {
    font-size: 12px;
  }

  .container {
    padding: 0 5px;
    padding-top: 30px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .line {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 10px;
    gap: 4px;
    width: 360px;
    margin-bottom: 10px;
  }

  .confidental {
    font-size: 12px;
    color: var(--color-text-gray);
  }

  .last {
    width: 360px;
    margin-bottom: 30px;
    align-self: center;
  }

  .greytext {
    font-size: 12px;
  }
}
