.modalContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 20px;
  position: relative;
  width: fit-content;
  text-align: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.modalTitle {
  font-size: 20px;
  font-weight: bold;
}

.modalText {
  font-size: 18px;
  line-height: 1.5;
  display: inline-block;
}

.modalButton {
  width: 70px;
  border-radius: 8px;
  padding: 4px;
  background-color: var(--color-blue-primary);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}
