.seeAlso {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.seeAlso>p {
  margin-bottom: 8px;
}

.seeAlso>a {
  margin-left: 20px;
}

.li {
  list-style: initial;
  margin-left: 35px;
  color: var(--color-gray-595);
  font-weight: 500;
}

.title {
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  color: var(--color-gray-595);
  font-weight: 500;
  margin-bottom: 10px;
}

.ml20 {
  margin-left: 20px;
}

.mb20 {
  margin-bottom: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mt30 {
  margin-top: 30px !important;
}

.link {
  color: var(--color-blue-primary);
  cursor: pointer;
  /* text-decoration: underline; */
}

.startText {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--color-gray-595);
}

.container {
  z-index: 4;
  position: relative;
}

@media screen and (width < 450px) {
  .startText {
    font-size: 14px;
  }

  .title {
    font-size: 15px;
  }

  .li {
    font-size: 14px;
  }

  .link {
    font-size: 14px;
  }

  .text {
    font-size: 14px;
  }
}
