.accordionWrapper {
    width: 100%;
    padding: 0;
    outline: none;
    border: none;
    display: block !important;
}

.accordionItem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accordionItem {
    margin-top: 15px;
}

.accordionItem>h2>button {
    display: flex;
    flex-direction: row-reverse;
    width: fit-content;
    align-items: center;
    gap: 10px;
    outline: none;
}

.accordionTitle {
    text-align: left;
    font-size: 15px;
}

.accordionTitleWrapper {
    align-self: flex-start;
    display: flex;
    justify-content: flex-start;
}

/* .accordionItem>h2>button>span {
    min-width: 9px;
    display: block;
    position: relative;
} */

/*
.accordionItem>h2>button>span>img {
    width: 100%;
    height: 100%;
} */


/* .accordionItem>h2>button>div {
    width: fit-content;
}

.accordionItem>h2>button>div>span {
    text-align: end;
} */

/* .accordionItem>h2>button>span {
    transform: rotate(180deg);
} */





/* .accordionItem {
    border-radius: 30px;
    min-height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 30px 20px 30px;
    background-color: var(--color-white);
    position: relative;
    width: 100%;
    margin-bottom: 20px;
} */