:root {
  --color-blue-primary: #0084FF;
  --color-dark-text: #070C2C;
  --color-white: #fff;
  --color-gray: #F0F3F4;
  --color-blue-light: #E5F1FF;
  --color-text-gray: rgba(7, 12, 44, 0.6);
  --color-light-gray: #F3F7FA;
}
