:root {
  --color-blue-primary: #0084ff;
  --color-blue-primary-20: rgba(0, 132, 255, 0.2);
  --color-blue-primary-6: rgba(0, 132, 255, 0.06);
  --color-blue-primary-10: rgba(0, 132, 255, 0.1);
  --color-blue-primary-50: rgba(0, 132, 255, 0.5);
  --color-blue-secondary: #3798f2;
  --color-blue-tertiary: #008dce;
  --color-dark-text: #070c2c;
  --color-white: #fff;
  --color-gray: #f0f3f4;
  --color-blue-light: #e5f1ff;
  --color-text-gray: rgba(7, 12, 44, 0.6);
  --color-text-gray-1: rgba(7, 12, 44, 0.1);
  --color-text-gray-6: rgba(7, 12, 44, 0.06);
  --color-text-gray-second: #595d73;
  --color-black: black;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-30: rgba(0, 0, 0, 0.3);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-black-14: rgba(0, 0, 0, 0.14);
  --color-black-6: rgba(0, 0, 0, 0.06);
  --color-black-2: rgba(0, 0, 0, 0.02);
  --color-light-gray: #f3f7fa;
  --color-light-gray-secondary: #ECF0F3;
  --color-light-gray-tertiary: #e7e7e7;
  --color-light-gray: #f3f7fa;
  --color-light-blue: #f4faff;
  --color-light-blue-secondary: #F0F6FA;
  --color-back-gray: #f4f7f9;
  --color-gray-595: #595d73;
  --color-red-error: #f90a0a;
  --color-pink: #FFECEC;
  --color-red-secondary: #F42C50;
  --color-green: #0BA35A;
  --color-green-secondary: #E1FFF1;
  --color-purple-primary: #7B42F3;
  --color-purple-primary-10: rgba(123, 66, 243, 0.1);
}