:root {
  --color-blue-primary: #0084ff;
  --color-blue-primary-6: rgba(0, 132, 255, 0.06);
  --color-blue-primary-10: rgba(0, 132, 255, 0.1);
  --color-blue-primary-50: rgba(0, 132, 255, 0.5);
  --color-blue-secondary: #3798F2;
  --color-blue-tertiary: #008DCE;
  --color-dark-text: #070c2c;
  --color-white: #fff;
  --color-gray: #f0f3f4;
  --color-blue-light: #e5f1ff;
  --color-text-gray: rgba(7, 12, 44, 0.6);
  --color-text-gray-second: #595d73;
  --color-black: black;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-light-gray: #f3f7fa;
  --color-light-gray-secondary: #ECF0F3;
  --color-light-gray-tertiary: #e7e7e7;
  --color-light-blue: #F4FAFF;
  --color-back-gray: #f4f7f9;
  --color-gray-595: #595d73;
  --color-red: #F90A0A;
}