:root {
  --color-blue-primary: #0084ff;
  --color-dark-text: #070c2c;
  --color-white: #fff;
  --color-gray: #f0f3f4;
  --color-blue-light: #e5f1ff;
  --color-text-gray: rgba(7, 12, 44, 0.6);
  --color-text-gray-second: #595d73;
  --color-black-60: rgba(0, 0, 0, 0.6);
  --color-black-50: rgba(0, 0, 0, 0.5);
  --color-black-10: rgba(0, 0, 0, 0.1);
  --color-light-gray: #f3f7fa;
  --color-back-gray: #f4f7f9;
  --color-gray-595: #595d73;
}
