@import url('./assets/colors.css');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish';
  text-decoration: none;
  color: var(--color-dark-text);
}

main {
  margin-top: 110px;
}

li {
  list-style: none;
}

.container {
  width: 1130px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

@media screen and (width < 450px) {
  .container {
    width: 100%;
  }

  main {
    margin-top: 105px;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* #root {
  overflow: hidden;
} */

input:-webkit-autofill {
  box-shadow: inset 0 0 0 1000px #fff;
}
