@import url('./assets/colors.css');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mulish';
  text-decoration: none;
  color: var(--color-dark-text);
}

main {
  margin-top: 110px;
}

li {
  list-style: none;
}

/* .ant-collapse-item-active div:first-child > span {
  position: relative;
}

.ant-collapse-item-active div:first-child > span > p {
  align-self: flex-start !important;
  margin-bottom: 20px;
  position: absolute;
  margin-top: 9.285px;
	height: 31.43px;
} */

/* .ant-collapse-header {
  transition: none;
} */

/* @font-face {
  font-family: 'GTEestiPro';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/GTEestiProText-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GTEestiPro';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/GTEestiProText-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'GTEestiPro';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/GTEestiProText-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GTEestiPro';
  font-style: italic;
  font-weight: 500;
  src: url('./fonts/GTEestiProText-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'GTEestiPro';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/GTEestiProText-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GTEestiPro';
  font-style: italic;
  font-weight: 700;
  src: url('./fonts/GTEestiProText-BoldItalic.woff2') format('woff2');
} */

.container {
  width: 1130px;
  margin: 0 auto;
}
