* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'GTEestiPro';
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/GTEestiProText-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiPro";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/GTEestiProText-RegularItalic.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/GTEestiProText-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiPro";
  font-style: italic;
  font-weight: 500;
  src: url("./fonts/GTEestiProText-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiPro";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/GTEestiProText-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "GTEestiPro";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/GTEestiProText-BoldItalic.woff2") format("woff2");
}

.container {
  width: 1130px;
  margin: 0 auto;
}
